
body {
    background-color: #E6E6E6;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

input {
    font-family: Verdana, Geneva, sans-serif;
}

.buttons {
    text-align: center;
}

.buttons input[type="submit"], .gwt-Button {
    margin: 0 auto;
}

.button {
    height: 10px;
}

.switcher-page-button {
    min-width: 15px;
    height: 12px;
    background-color: blue;
    margin: 2px;
    padding: 2px;
    display: inline-flex;
    color: white;
}

.switcher-button.switcher-button-active {
    min-width: 15px;
    height: 12px;
    background-color: yellow;
    margin: 2px;
    padding: 2px;
    display: inline-flex;
    color: red;
}

.switcher-buttons-wrapper {
    display: inline;
}

.header-wrapper {
    height: 50px;
}

.header-panel {
    text-align: center;
}

.content-wrapper {
    height: 300px;
}

.content-panel {
    height: 300px;
}

.dialog-box {
    border: 1px solid #93695E;
    border-radius: 5px;
    background: #DCC3A9;
    margin: -17% auto auto auto;
    padding: 5px 5px 15px 5px;
}